body{
    margin: 0;
    font-family: 'El Messiri', sans-serif;
    background-color: #162831;
}


/*Intro*/
.intro{
    width: 100%;
    height: 100vh;
    background: url("../img/572_large.jpg") center no-repeat;
    background-size: cover;
    filter: alpha(Opacity=50); /* Полупрозрачность для IE */
    opacity: 0.5; /* Полупрозрачность для других браузеров */ 
}


/*Header*/
.header_inner{
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-right:40px; 
}

/**/
.centered-1{
    position: absolute;
    top: 325px;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -100%);
    color: white;
}

.centered-2{
    position: absolute;
    top: 375px;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
    color: white;
}


